body {
    font-family: Arial, sans-serif;
    background-color: #f2f2f2;
    text-align: center;
}

h1 {
    font-size: 2em;
    margin-top: 2em;
    color: #333;
}

.description {
    margin-top: 1em;
    font-size: 1.2em;
    color: #333;
    text-align: center;
}

.navigation {
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: left;
    padding: 1em;
    background-color: #333;
    color: white;
}

.navigation a {
    color: white;
    text-decoration: none;
    margin-right: 1em;
}

form {
    margin-top: 2em;
    display: inline-block;
    background-color: #fff;
    padding: 1em;
    border-radius: 10px;
    box-shadow: 2px 2px 2px #ccc;
}

label {
    font-size: 1em;
    color: #333;
    display: block;
    margin-top: 1em;
}

input[type="text"], input[type="password"] {
    padding: 0.5em;
    width: 70%;
    font-size: 1em;
    margin-top: 0.5em;
    border-radius: 5px;
    border: none;
}

button[type="submit"] {
    width: 20%;
    padding: 0.5em;
    margin-top: 1em;
    border-radius: 5px;
    border: none;
    background-color: #333;
    color: white;
    font-size: 1em;
    cursor: pointer;
}

button[type="submit"]:hover {
    background-color: #444;
}

.footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 1em;
    margin-top: 2em;
}

.footer p {
    margin: 0;
    font-size: 0
}


@media (max-width: 768px) {
    form {
        width: 80%;
    }

    input[type="text"], input[type="password"] {
        width: 100%;
    }

    button[type="submit"] {
        width: 40%;
        margin-left: 30%;
    }
}

@media (max-width: 576px) {
    h1 {
        font-size: 1.5em;
    }

    .description {
        font-size: 1em;
    }

    form {
        width: 90%;
    }

    button[type="submit"] {
        width: 50%;
        margin-left: 25%;
    }
}
